<section class="w-75 py-4 shadow my-3 rounded-5 mx-auto" *ngIf="details">
<div class="row align-items-center g-5 px-4" >
<div class="col-md-3">

  <owl-carousel-o [options]="detailsOptions">

    <ng-container *ngFor="let path of details.images">
      <ng-template carouselSlide>
       <img class="w-100" [src]="path" >
      </ng-template>
    </ng-container>

  </owl-carousel-o>



</div>

<div class="col-md-9">

<div>
<h2 class="fw-bold fs-3 text"> {{details.title}} </h2>
<p class=" small text-muted">  {{details.description}} </p>
<span> {{details.category.name}} </span>

<div class="d-flex justify-content-between align-items-center">
<span class="my-2"> {{details.price | currency:'EGP'}} </span>
<p class=" mb-0 ">  <i class=" rating-color fas fa-star"></i>  {{details.ratingsAverage}} </p>

</div>
<button (click)="addProduct(details._id , addBtn )"
 #addBtn class="main-btn my-0 py-2    w-100">
  <i class="fa-solid fa-circle-plus " style="color: #ffffff;"></i>
  Add To Cart</button>
</div>

</div>

</div>

</section>
