<section *ngIf="step1" class="bg-main-light p-4 shadow w-50 mx-auto rounded">
<form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()" class="p-3 px-5" >
<label for="email">Email</label>

<input formControlName="email" type="email" class="form-control" id="email">
<button class="btn btn-outline-success w-100 mt-4">Forgot Password</button>
<p *ngIf="userMessage" class="w-75 mx-auto alert alert-danger text-center mt-2 p-2 mb-0"> {{userMessage}} </p>
</form>
</section>


<section *ngIf="step2" class="bg-main-light p-4 shadow w-50 mx-auto rounded">
  <form [formGroup]="resetCodeForm" (ngSubmit)="resetCode()" class="p-3 px-5" >
  <label for="resetCode">Reset Code</label>

  <input formControlName="resetCode" type="text" class="form-control" id="resetCode">
  <button class="btn btn-outline-success w-100 mt-4">Reset Code</button>
  <p *ngIf="userMessage" class="w-75 mx-auto alert alert-danger text-center mt-2 p-2 mb-0"> {{userMessage}} </p>
  </form>
  </section>


  <section *ngIf="step3" class="bg-main-light p-4 shadow w-50 mx-auto rounded">
    <form [formGroup]="resetPassword" (ngSubmit)="newPassword()" class="p-3 px-5" >
    <label for="newPassword">Reset Password</label>

    <input formControlName="newPassword" type="password" class="form-control" id="newPassword">
    <button class="btn btn-outline-success w-100 mt-4">Reset Password</button>
    <p *ngIf="userMessage" class="w-75 mx-auto alert alert-danger text-center mt-2 p-2 mb-0"> {{userMessage}} </p>
    </form>
    </section>



