<section class="w-80 mx-auto shadow-sm bg-main-light">
  <h1 class="fw-bold text-center py-2"> Login..Now</h1>
  <form  [formGroup]="loginForm" (ngSubmit)="handleForm()">

    <div class="form-item m-3">
      <label for="email">Email</label>
      <input formControlName="email"   type="email" class="form-control" id="email"/>

      <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert alert-danger small w-25 ">
        <p *ngIf="loginForm.get('email')?.getError('required')" class="mb-0">Name Is Required</p>
        <p *ngIf="loginForm.get('email')?.getError('email')" class="mb-0">Email Is Invalid</p>

      </div>

    </div>

    <div class="form-item m-3">
      <label for="password">Password</label>
      <input formControlName="password" type="password"  class="form-control" id="password"/>

      <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert alert-danger small w-25 ">
        <p *ngIf="loginForm.get('password')?.getError('required')" class="mb-0">password Is Required</p>
        <p *ngIf="loginForm.get('password')?.getError('pattern')" class="mb-0">Password must be at least 6 characters </p>

      </div>

    </div>

    <div class="d-flex align-items-center justify-content-between">
    <button [disabled]="loginForm.invalid" class="main-btn my-3 text-center m-3 p-3"> Login<span *ngIf="loading"> <i class="fas fa-spin fa-spinner"></i> </span> </button>
<a class="link-success px-4" routerLink="/forgotpass">ForgotPassword</a>
</div>
  </form>

  <p *ngIf="errorMessage" class="alert alert-danger w-25 mx-auto text-center "> {{errorMessage}} </p>

  </section>


