.main-blank  {
  padding-top: 100px;
}

.up-btn{
  position: fixed;
  z-index: 999;
  right: 10px;
  width: 40px;
  height: 40px;
  font-size: larger;
   bottom: 15px;
  border: none;
  border-radius: 30px;
  background-color: rgb(26, 202, 26);
  }
