/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
$main-color: #0aad0a;

$light-color: #f0f3f2;

$shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
  rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
  rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
$mainFont-family: "Encode Sans Expanded", sans-serif;
body{
  font-family: $mainFont-family;
}
h1 {
  color: $main-color;
}
$rating-color: #ffc908;
$main-transition: 0.5s;

.text{
  color: $main-color;
}
.small-font{
  font-size: 12px;
}
.rating-color{
  color: $rating-color;
}
.bg-main{
  background-color: $main-color;
}
.main-btn{
  cursor: pointer;
  color: #fff;
  padding: 5px 7px;
  border-radius: 6px;
  border: unset;
  background-color: $main-color;
    &:disabled{
      color: #ffffff90;
      background-color: #078e0760;
      cursor: not-allowed;

}

}

.bg-main-light{
  background-color: $light-color;
}
.text-main-light{
  color: $light-color;
}
.active-link{
  color: #fff !important;
  background-color: $main-color !important;
  border-radius: 5px !important;

}
.product{
  padding: 4px;
  box-shadow: $shadow;
  border: 1px solid $main-color;
  border-radius: 7px;

}
